<html>
	<head>
		<title>New Post</title>
	</head>
	<body>
		<form action="/create" method="POST">
			<h1>Title</h1>
		  	<input type="text" name="title"><br>
		  	<h1>Body</h1>
		  	<input type="text" name="body"><br><br>
		  	<input type="submit" value="Submit">
		</form>
	</body>
</html>